In [3]:
import pandas as pd
pd.__version__

'1.4.2'

In [6]:
pd.get_dummies

<function pandas.core.reshape.reshape.get_dummies(data, prefix=None, prefix_sep='_', dummy_na: 'bool' = False, columns=None, sparse: 'bool' = False, drop_first: 'bool' = False, dtype: 'Dtype | None' = None) -> 'DataFrame'>

In [7]:
print(pd.__name__)

pandas

In [8]:
countries = pd.Series(
data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [9]:
ountries = pd.Series({
'UK': 'Англия',
'CA': 'Канада',
'US' : 'США',
'RU': 'Россия',
'UA': 'Украина',
'BY': 'Беларусь',
'KZ': 'Казахстан'},
name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [15]:
print(countries.loc['US'])
print()
print(countries.loc[['US', 'RU']])
print()
print(countries.iloc[6])
print()
print(countries.iloc[1:4])

США

US       США
RU    Россия
Name: countries, dtype: object

Казахстан

CA    Канада
US       США
RU    Россия
Name: countries, dtype: object

In [16]:
countries = pd.Series(
data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [18]:
countries_df = pd.DataFrame(
data = [
['Англия', 56.29, 133396],
['Канада', 38.05, 9984670],
['США', 322.28, 9826630],
['Россия', 146.24, 17125191],
['Украина', 45.5, 603628],
['Беларусь', 9.5, 207600],
['Казахстан', 17.04, 2724902]
],
columns= ['country', 'population', 'square'],
index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [21]:
countries_df = pd.DataFrame({
'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

display(countries_df)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [22]:
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [23]:
countries_df.mean(axis=0)

/var/folders/6n/6q8qfybx57b_06lnlwty3mf40000gn/T/ipykernel_62124/1904880919.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  countries_df.mean(axis=0)

population    9.070000e+01
square        5.800860e+06
dtype: float64

In [24]:
countries_df.mean(axis=1)

/var/folders/6n/6q8qfybx57b_06lnlwty3mf40000gn/T/ipykernel_62124/555943002.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  countries_df.mean(axis=1)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

In [25]:
countries_df.population

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [26]:
countries_df['population']

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [27]:
countries_df.loc['UK', 'square']

133396

In [29]:
countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']]

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [30]:
countries_df.iloc[4:8, 1:3]

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [2]:
import pandas as pd

countries_df = pd.DataFrame({
'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [3]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [6]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

In [12]:
melb_data.loc[15, 'Price']

1310000.0

In [13]:
melb_data.loc[90, 'Date']

'10/09/2016'

In [16]:
melb_data.loc[3521, 'Landsize'] / melb_data.loc[1690, 'Landsize']

2.7857142857142856